<div class="footer">
    <a href="/" title="Home">
        <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-home fa-inverse fa-stack-1x"></i>
        </span>
    </a>
    <a href="/categories" title="Categories">
        <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-folder fa-inverse fa-stack-1x"></i>
        </span>
    </a>
    <a href="/authors" title="Authors">
        <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-user fa-inverse fa-stack-1x"></i>
        </span>
    </a>
</div>