<div class="summary">
  <div class="description" contenteditable="false">
  {{#if description}}
    {{{description}}}
  {{/if}}
  {{#unless desc}}
     No description available
  {{/unless}}
  </div>
  
  <h4>Written/performed by:</h4>
  <ul class="authors">
    {{#each authors}}
      <li>{{> author}}</li>
    {{/each}}
    {{#unless authors}}
       <li>{{> stack icon="user"}}Unknown author</li>
    {{/unless}}
  </ul>

  <h4>Filed under:</h4>
  <ul class="categories">
    {{#each categories}}
      <li>{{> category}}</li>
    {{/each}}
    {{#unless categories}}
       <li>{{> stack icon="folder"}}None</li>
    {{/unless}}
  </ul>
</div>