<div class="summary">
  <div class="description" data-field="description" contenteditable="false">
  {{#if description}}
    {{{description}}}
  {{/if}}
  {{#unless description}}
     No description available
  {{/unless}}
  </div>
  
  <h4>Written/performed by:</h4>
  <select class="authors" multiple placeholder="Add/remove authors..." autocomplete="off">
    {{#each authors}}
      <option value="{{id}}" {{#if selected}}selected{{/if}}>{{> author}}</option>
    {{/each}}
  </select>

  <h4>Filed under:</h4>
  <select class="categories" multiple placeholder="Add/remove categories..." autocomplete="off">
    {{#each categories}}
      <option value="{{id}}" {{#if selected}}selected{{/if}}>{{> category}}</option>
    {{/each}}
  </select>
</div>