:root {
  --editable-border-color: rgb(224, 224, 224);
  --editable-background-color: rgb(244, 244, 244);
  --feed-icon-color: rgba(0, 0, 0, 0.4);
  --feed-icon-text-color: rgb(255, 255, 255);
  --feed-icon-color-focus: rgb(0, 0, 0);
}

body {
  font-family: sans-serif;
}

.catalog,
.header,
.footer,
.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
}

.header h1 {
  padding: 0.5rem 1rem;
}

.book {
  list-style: none;
  position: relative;
  width: 240px;
  margin: 10px 10px 60px 10px;
  text-align: center;
}

.cover {
  max-width: 240px;
  max-height: 360px;
}

.feed {
  position: absolute;
  bottom: 80px;
  left: 33%;
  color: var(--feed-icon-color);
  font-size: 200%;
}

.book:hover .feed,
.book:focus .feed {
  color: var(--feed-icon-color-focus);
}

.play {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: var(--feed-icon-color);
}

.play .fa-play {
  left: 1px;
}

.book:hover .play,
.book.focus .play {
  color: var(--feed-icon-color-focus);
}

.duration {
  bottom: 21px;
  right: 20px;
  position: absolute;
  font-weight: bold;
  color: var(--feed-icon-text-color);
  font-size: 120%;
  padding: 4px 6px;
  border-radius: 8px;
  background-color: var(--feed-icon-color);
}

.book:hover .duration,
.book:focus .duration {
  background-color: var(--feed-icon-color-focus);
}

.summary .fa-stack {
  color: var(--feed-icon-color);
}

.summary a:hover .fa-stack {
  color: var(--feed-icon-color-focus);
}

.separator {
  position: relative;
  margin: auto;
  text-align: center;
  max-width: 40rem;
  color: var(--editable-border-color);
  padding-top: 1rem;
  font-size: x-large;
  padding-bottom: 1rem;
}

.separator span {
  background: white;
  position: relative;
  padding: 0 .5rem;
}

.separator::before {
  position: absolute;
  content: '';
  top: 1.75rem;
  left: 0;
  width: 100%;
  border-top: solid 1px var(--editable-border-color);
}

.footer {
  gap: 1rem;
}

.footer a {
  color: var(--feed-icon-color);
}

.footer a:hover,
.footer a:focus {
  color: var(--feed-icon-color-focus);
}

.authors li,
.categories li {
  list-style: none;
}

.authors .fa-stack,
.categories .fa-stack {
  margin-right: 0.5rem;
}

.header h1 {
  text-align: center;
}

.catalog.solo {
  max-width: 80rem;
  margin: auto;
}

/* On mobile devices, reduce space between .book and .summary to 10px and add 1rem whitespace left/right.  */
.summary {
  margin-top: -50px;
}

.summary h4 {
  margin-left: 2rem;
}

.search {
  align-items: center;
  gap: 1rem;
}

.search input {
  max-width: 30rem;
  width: 70%;
}

.hidden {
  display: none;
  visibility: hidden;
}

[contenteditable] {
  position: relative;
  border-radius: 0.3rem;
}

[contenteditable]::before {
  border: transparent solid 2px;
  border-radius: 0.3rem;
}

[contenteditable='false']:hover::before {
  background-color: var(--editable-background-color);
  border-color: var(--editable-border-color);
  position: absolute;
  top: -0.25rem;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: -1;
}

[contenteditable='false']:hover::after {
  position: absolute;
  content: '\f044';
  font-family: 'FontAwesome';
  font-size: 60%;
  color: var(--editable-border-color);
  top: 0.15rem;
  right: 0;
}

.description {
  padding: 1rem 2rem;
}

.description[contenteditable='false']:hover::after {
  font-size: larger;
  top: 0.3rem;
  right: 0.3rem;
}

@media (min-width: 720px) {
  .catalog.solo {
    flex-wrap: nowrap;
  }

  .header h1 {
    padding: 0.5rem 2rem;
  }

  .summary {
    margin-top: 0;
  }
}
