body {
    font-family: sans-serif;
}

.catalog,
.header,
.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    padding: 0;
}

.book {
    list-style: none;
    position: relative;
    width: 240px;
    margin: 10px 10px 60px 10px;
    text-align: center;
}

.cover {
    max-width: 240px;
    max-height: 360px;
}

.feed {
    position: absolute;
    bottom: 80px;
    left: 33%;
    color: rgba(0, 0, 0, 0.4);
    font-size: 200%;
}

.book:hover .feed,
.book:focus .feed {
    color: rgb(0, 0, 0);
}

.play {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: rgba(0, 0, 0, .4);
}

.play .fa-play {
    left: 1px;
}

.book:hover .play,
.book.focus .play {
    color: rgb(0, 0, 0);
}

.duration {
    bottom: 21px;
    right: 20px;
    position: absolute;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 120%;
    padding: 4px 6px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .4);
}

.book:hover .duration,
.book:focus .duration {
    background-color: #000;
}

.footer a {
    padding: 0 1rem;
}

.authors li,
.categories li {
    list-style: none;
}

.authors .fa-stack,
.categories .fa-stack {
    margin-right: .5rem;
}